@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Color Palette */
@theme {
  --color-white: #ffffffff;
  --color-gray-10: #fffbffff;
  --color-gray-25: #f4f1f4ff;
  --color-gray-50: #e8e7e8ff;
  --color-gray-100: #ddddddff;
  --color-gray-200: #b0b0b0ff;
  --color-gray-300: #828282ff;
  --color-gray-400: #555555ff;
  --color-gray-500: #4a4a4aff;
  --color-gray-600: #3e3e3eff;
  --color-gray-700: #333333ff;
  --color-gray-800: #222222ff;
  --color-gray-900: #111111ff;
  --color-black: #000000ff;
  --color-blue-10: #f5fbffff;
  --color-blue-100: #ccebffff;
  --color-blue-200: #88c5edff;
  --color-blue-300: #449ddaff;
  --color-blue-400: #0077c8ff;
  --color-blue-500: #0063a6ff;
  --color-blue-600: #004e83ff;
  --color-blue-700: #003a61ff;
  --color-yellow-10: #fffef5ff;
  --color-yellow-100: #fffce7ff;
  --color-yellow-200: #fdef85ff;
  --color-yellow-300: #fbe122ff;
  --color-yellow-700: #8a6c00ff;
  --color-blue-400: #00a9e0ff;
  --color-green-10: #f5fff5ff;
  --color-green-100: #e0f1e0ff;
  --color-green-200: #b4daafff;
  --color-green-300: #88c27dff;
  --color-green-400: #5cab4cff;
  --color-green-500: #4c8b3fff;
  --color-green-600: #3b6c31ff;
  --color-green-700: #2b4c24ff;
  --color-orange-10: #fffaf5ff;
  --color-orange-100: #fae6d1ff;
  --color-orange-200: #f9c99cff;
  --color-orange-300: #f7ab68ff;
  --color-orange-400: #f68e33ff;
  --color-orange-500: #c97124ff;
  --color-orange-600: #9c5415ff;
  --color-orange-700: #6f3706ff;
  --color-red-10: #fff5f7ff;
  --color-red-100: #f9b8c4ff;
  --color-red-200: #ea7f92ff;
  --color-red-300: #db4561ff;
  --color-red-400: #cc0c2fff;
  --color-red-500: #ad0a28ff;
  --color-red-600: #8d0720ff;
  --color-red-700: #510612ff;
  --color-annotation-bg: #ffae00ff;
  --color-annotation-fg: #000000ff;
  --color-placeholder-bg: #ffae0066;
  --color-placeholder-fg: #d58300ff;
  --color-gradient-yellow-1: #fbe700;
  --color-gradient-yellow-2: #ffcd00;
  --color-gradient-blue-1: #00a4e5;
  --color-gradient-blue-2: #006fc1;
  /* Semantic colors */
  --color-background-default: var(--color-white);
  --color-background-page: var(--color-gray-25);
  --color-background-highlight: var(--color-yellow-200);
  --color-background-read-only: var(--color-gray-25);
  --color-background-disabled: var(--color-gray-50);
  --color-background-action-primary: var(--color-blue-400);
  --color-background-negative-default: var(--color-red-10);
  --color-background-action-primary-hover: var(--color-blue-500);
  --color-background-success-default: var(--color-green-10);
  --color-background-info-default: var(--color-blue-10);
  --color-background-warning-default: var(--color-orange-10);
  --color-background-negative-hover: var(--color-red-100);
  --color-background-negative-active: var(--color-red-200);
  --color-background-negative-emphasis: var(--color-red-300);
  --color-background-negative-emphasis-hover: var(--color-red-400);
  --color-background-negative-emphasis-active: var(--color-red-500);
  --color-background-warning-hover: var(--color-orange-100);
  --color-background-warning-active: var(--color-orange-200);
  --color-background-warning-emphasis: var(--color-orange-300);
  --color-background-warning-emphasis-hover: var(--color-orange-400);
  --color-background-warning-emphasis-active: var(--color-orange-500);
  --color-background-success-hover: var(--color-green-100);
  --color-background-success-active: var(--color-green-200);
  --color-background-success-emphasis: var(--color-green-300);
  --color-background-success-emphasis-hover: var(--color-green-400);
  --color-background-success-emphasis-active: var(--color-green-500);
  --color-background-info-hover: var(--color-blue-100);
  --color-background-info-active: var(--color-blue-200);
  --color-background-info-emphasis: var(--color-blue-300);
  --color-background-info-emphasis-hover: var(--color-blue-400);
  --color-background-info-emphasis-active: var(--color-blue-500);
  --color-background-action-primary-active: var(--color-blue-600);
  --color-background-action-secondary: #ffffff00;
  --color-background-action-secondary-hover: var(--color-blue-100);
  --color-background-action-secondary-active: var(--color-blue-200);
  --color-background-hover: var(--color-blue-100);
  --color-background-active: var(--color-blue-200);
  --color-background-snackbar: var(--color-gray-800);
  --color-foreground-default: var(--color-gray-700);
  --color-foreground-inverse: var(--color-white);
  --color-foreground-highlight-subtle: var(--color-blue-300);
  --color-foreground-highlight: var(--color-blue-400);
  --color-foreground-highlight-heavy: var(--color-blue-500);
  --color-foreground-subtitle: var(--color-gray-500);
  --color-foreground-subtle: var(--color-gray-300);
  --color-foreground-read-only: var(--color-gray-700);
  --color-foreground-disabled: var(--color-gray-200);
  --color-foreground-action-primary: var(--color-blue-400);
  --color-foreground-action-primary-hover: var(--color-blue-500);
  --color-foreground-info-default: var(--color-blue-500);
  --color-foreground-success-default: var(--color-green-500);
  --color-foreground-warning-default: var(--color-orange-500);
  --color-foreground-negative-default: var(--color-red-500);
  --color-foreground-negative-emphasis: var(--color-red-300);
  --color-foreground-warning-emphasis: var(--color-orange-300);
  --color-foreground-success-emphasis: var(--color-green-300);
  --color-foreground-info-emphasis: var(--color-blue-300);
  --color-foreground-action-primary-active: var(--color-blue-600);
  --color-foreground-action-secondary: var(--color-blue-400);
  --color-foreground-action-secondary-hover: var(--color-blue-500);
  --color-foreground-action-secondary-active: var(--color-blue-600);
  --color-border-default: var(--color-gray-100);
  --color-border-emphasis: var(--color-gray-300);
  --color-border-focus: var(--color-yellow-300);
  --color-border-action: var(--color-blue-400);
  --color-border-info: var(--color-blue-400);
  --color-border-success: var(--color-green-400);
  --color-border-warning: var(--color-orange-400);
  --color-border-negative: var(--color-red-400);
  --color-foreground-promotion-default: var(--color-yellow-700);
  --color-foreground-brand-cebu-pacific: var(--color-yellow-300);
  --color-foreground-brand-cebgo: var(--color-green-400);
  --color-foreground-brand-airswift: var(--color-blue-400);
  --color-foreground-promotion-hover: var(--color-gray-25);
  --color-foreground-promotion-active: var(--color-gray-25);
  --color-foreground-promotion-emphasis: var(--color-yellow-300);
  --color-foreground-promotion-emphasis-hover: var(--color-gray-25);
  --color-foreground-promotion-emphasis-active: var(--color-gray-25);
  --color-background-promotion-default: var(--color-yellow-10);
  --color-background-promotion-hover: var(--color-yellow-100);
  --color-background-promotion-active: var(--color-yellow-200);
  --color-background-promotion-emphasis: var(--color-yellow-300);
  --color-background-promotion-emphasis-hover: var(--color-yellow-300);
  --color-background-promotion-emphasis-active: var(--color-yellow-300);
  --color-utilities-placeholder-bg: var(--color-placeholder-bg);
  --color-utilities-placeholder-fg: var(--color-placeholder-fg);
}

/* Sizing */
@theme {
  --spacing-0: 0rem; /* 0px */
  --spacing-25: 0.125rem; /* 2px */
  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-600: 3rem; /* 48px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1200: 6rem; /* 96px */
}

/* Typography */
@theme {
  --font-noto-sans: "Noto Sans", sans-serif;
  --text-size-356: 3.5625rem; /* 57px */
  --text-size-300: 3rem; /* 48px */
  --text-size-250: 2.5rem; /* 40px */
  --text-size-175: 1.75rem; /* 28px */
  --text-size-143: 1.4375rem; /* 23px */
  --text-size-118: 1.1875rem; /* 19px */
  --text-size-100: 1rem; /* 16px */
  --text-size-81: 0.8125rem; /* 13px */
  --text-size-69: 0.6875rem; /* 11px */
  --text-size-356--line-height: 4.25rem; /* 68px */
  --text-size-300--line-height: 3.75rem; /* 60px */
  --text-size-250--line-height: 3rem; /* 48px */
  --text-size-175--line-height: 2.25rem; /* 36px */
  --text-size-143--line-height: 1.875rem; /* 30px */
  --text-size-118--line-height: 1.75rem; /* 28px */
  --text-size-100--line-height: 1.5rem; /* 24px */
  --text-size-81--line-height: 1.25rem; /* 20px */
  --text-size-69--line-height: 1rem; /* 16px */

  --tracking-default: 0rem;
  --tracking-wide: 0.05rem;
  --tracking-narrow: -0.05rem;

  /* Semantic font sizes */
  --text-body: var(--text-size-100);
  --text-display: var(--text-size-356);
  --text-page: var(--text-size-300);
  --text-section: var(--text-size-250);
  --text-segment: var(--text-size-175);
  --text-title: var(--text-size-143);
  --text-subtitle: var(--text-size-118);
  --text-label: var(--text-size-81);
  --text-caption: var(--text-size-69);
  --text-label--font-weight: var(--font-weight-semibold);
  --text-caption--font-weight: var(--font-weight-medium);
}

/* Border */
@theme {
  /* Border radius */
  --radius-0: 0px;
  --radius-50: 2px;
  --radius-100: 4px;
  --radius-200: 8px;
  --radius-300: 12px;
  --radius-600: 24px;
  --radius-full: 1000px;

  --radius-none: var(--radius-0);
  --radius-subtle: var(--radius-50);
  --radius-default: var(--radius-100);
  --radius-exaggerated: var(--radius-200);
  --radius-modal: var(--radius-300);
  --radius-round: var(--radius-full);

  /* Border width */
  --border-0: 0px;
  --border-50: 1px;
  --border-100: 2px;
  --border-200: 4px;
  --border-default: var(--border-100);
  --border-none: var(--border-0);
  --border-inputfield: var(--border-50);
  --border-tag: var(--border-50);
}

/* Box shadow */
@theme {
  --shadow-0: none;
  --shadow-100: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
  --shadow-200: 0px 0px 24px 0px rgba(0, 0, 0, 0.12);

  --shadow-300: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  --shadow-default: var(--shadow-0);
  --shadow-popover: var(--shadow-100);
  --shadow-card: var(--shadow-200);
  --shadow-tooltip: var(--shadow-200);
}

body {
  font-family: var(--font-noto-sans);
}
.react-select__menu-list {
}

.react-select__menu-list::-webkit-scrollbar-track {
  /* margin-top: 12px;
  margin-bottom: 12px;
  padding-right: 4px;
  background-clip: content-box; */
}

.react-select__menu-list::-webkit-scrollbar {
  @apply w-2;
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  @apply bg-[#0077C833] rounded-full;
}
